/* 
		http://meyerweb.com/eric/tools/css/reset/ 
		v2.0 | 20110126
		License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 
		My Stuff 
*/

body {
		font-family: 'Ubuntu', sans-serif;
		font-weight: 300; 
		background-color: #FFFFFF;
		font-size: 1em;	
}
p {
		font-size: 1em;	
		margin: 1.1em 0;
}
a {
		color: #3366CC;
		text-decoration: none;
}
a:hover {
		color: #FF6600;
}
h1 {	
		font-weight: 400;
		font-size: 1.75em; /* 28px */
		line-height: 1.1428; /* 32px */
		margin-top: 2.0em; 
}
h2 {
		font-weight: 400;
		font-size: 1.5em; /* 24px */
		line-height: 1.16; /* 28px */
		margin-top: 1.4em; 
}
blockquote {
		margin: 1em 1.5em 1em 2em;
		color: #848484;
		border-left: 0.22em solid #FF6600;
		padding-left: 1em; 
}
code {
		font-family:"Courier New", Courier, monospace;
		font-size: smaller;
}	
ol {
		list-style-type: decimal;
}
p.ul {
		list-style-type: disc;
		margin-left: 1.5em;
		margin-bottom: 0em;
		margin-top: 0em;
}
ul ul {
		list-style-type: circle;
}
#header { 
		margin: 2em auto 0.8em auto;
		text-align: center;
		max-width: 100%;
		padding: 1.0em 0.8em;
		background-color: #FF6600;
		/* border-top: 0.5em solid rgba(1,120,144,1.0);
		border-bottom: 0.5em solid rgba(1,120,144,1.0); */
}
div#header h1 {
		font-size: 3.0em;
		font-weight: 300;
		line-height:1.1em;
		margin: 0.5em 0 0.5em 0;
}
div#header a { 
		text-decoration: none;
		color: white;
}
#wrapper {
		margin: 0 auto; 
		max-width: 870px;
		font-size: 100%;
        line-height: 1.6875;
        padding: 0 5%;
}
#navigation {
		width: 100%;
}
div#navigation ul, div#navigation a {
		font-size: 1.2em;
		color: #FF6600;
		text-align:center;
		padding:0;
		margin: 0;
		list-style:none;
}
div#navigation a:hover {
		color: #66CC00;
}
div#navigation li{
	width:auto;
	display:inline-block;
	padding:0 5%;
}
#content {
		width: 100%;
}
.title {
		text-align: center;
}
h1.title {
}
a.title {
		color: black;
}
a:hover.title {
		color: #FF6600;
}
.post-date {
		text-align: center;
}
p.post-date {
		margin: 0.15em 0;
		font-size: 0.9em;
}
img {
		max-width: 100%;
		height: auto;
}
video {
		max-width: 100%;
		height: auto;
}
.videoWrapper-16-9 {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper-16-10 {
	position: relative;
	padding-bottom: 62.5%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper-4-3 {
	position: relative;
	padding-bottom: 75.0%;
	padding-top: 25px;
	height: 0;
}
.videoWrapper-16-9 iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.videoWrapper-16-9 object,
.videoWrapper-16-9 embed,  {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.videoWrapper-16-10 iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.videoWrapper-16-10 object,
.videoWrapper-16-10 embed,  {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.videoWrapper-4-3 iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.videoWrapper-4-3 object,
.videoWrapper-4-3 embed,  {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
div#footer {
		border-top: 0.2em solid black;
		background-color: #D8D8D8;
		position:relative;
   		bottom:0;
   		width:100%;
   		height:100%;
   		text-align: center;
}
div#footer p {
		line-height: 1.3em;
		padding: 0.5em 0.3em;
		margin: 0;
}
@media only screen and (min-width: 68.75em) { /* 1100px */
		body { font-size:115%;} 
}  	       

@media only screen and (max-width: 31.25em) { /* 500px */
		body { font-size:90%;}
		div#header { 
		margin: 1em auto;
		padding: 0.5em 0.4em; 
}
		div#header h1 {
		font-size: 2.0em;
		line-height:1.0em;
		margin: 0.5em 0;
}
		div#navigation ul, div#navigation a {
		font-size: 1.0em;
}
}
@media only screen and (max-width: 50em) { /* 800px */
		body { font-size:100%;}
		div#navigation li {
		padding:0 3%;
}
}   

/* word-wrap: break-word; */