---
layout: default
---
<div id="article-container">
<h1><a class="title" href="{{ page.url }}" class="title">{{ page.title }}</a></h1>
<p class="post-meta"><span style="display:none;"><a href="#" rel="author">Timm Schoof</a></span> {{ page.date | date: "%B %d, %Y" }} | <a href="/categories/{{ page.category }}/">{{ page.category }}</a></p>
<div id="article-text">
{{ content }}
</div>
</div>
<div id="post-prevnext" class="pagination">
{% if page.previous %}
<p class="next"><a href="{{ page.previous.url }}/" title="View previous post - {{ page.previous.title }}">&larr;</a></p>
{% endif %}
{% if page.next %}
<p class="previous"><a href="{{ page.next.url }}/" title="View next post - {{ page.next.title }}">&rarr;</a></p>
{% endif %}
</div>