---
layout: default
---
<div id="article-container">
<h1><a class="title" href="{{ page.url }}" class="title">{{ page.title }}</a></h1>
<p class="post-meta"><span style="display:none;"><a href="#" rel="author">Timm Schoof</a></span> {{ page.date | date: "%B %d, %Y" }} | <a href="/categories/{{ page.category }}/">{{ page.category }}</a></p>
<div id="article-text">
{{ content }}
</div>
</div>


<!--<div id="post-prevnext" class="pagination">
{% if page.previous %}
<a class="next" href="{{ page.previous.url }}/" title="Previous Post: {{ page.previous.title }}">&larr;</a>
{% endif %}
{% if page.next %}
<a class="previous" href="{{ page.next.url }}/" title="Next Post: {{ page.next.title }}">&rarr;</a>
{% endif %}
</div>-->