---
layout: default
---
<div id="article-container">
<h1><a class="title" href="{{ page.url }}" class="title">{{ page.title }}</a></h1>
<p class="post-meta"><span style="display:none;"><a href="#" rel="author">Timm Schoof</a></span> {{ page.date | date: "%B %d, %Y" }} | <a href="/categories/{{ page.category }}/">{{ page.category }}</a></p>
<div id="article-text">
{{ content }}
</div>
</div>
<div id="post-pagination" class="pagination">
{% if page.previous %}
<a href="{{ page.previous.url }}/" title="{{ page.previous.title }}">Previous Post</a>
{% endif %}
{% if page.next %}
<a href="{{ page.next.url }}/" title="{{ page.next.title }}">Next Post</a>
{% endif %}
</div>